@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #77aa77;
  background-image: url("../assets/Abstract-Envelope.svg");
  background-attachment: fixed;
  background-size: cover;
}
/*Navbar*/
.navbar{
  background-color: #43A047;
  color: #fff
}
.navbar-nav .nav-item > a:hover{
  color: #124114;
}
.navbar .header span{
  vertical-align: middle;
  font-family: 'Poppins', sans-serif;
}
.navbar-nav .nav-item a{
  font-family: 'Poppins', sans-serif;
  color: #fff
}
.navbar-toggler-icon{
  color:#fff; 
  height: 1.2em;
}
.navbar-toggler {
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid transparent;
      border-radius: .25rem;
}
/*Jumbotron*/
.jumbotron{
    margin-bottom: 0px;
    padding: 2rem 1rem;
    background-color: #77aa77;
      background-image: url("../assets/Abstract-Envelope.svg");
      background-attachment: fixed;
      background-size: cover;
}

/*Jumbotron*/
.jumbotron img{
    height: 150px;
    width: 150px;
}
.jumbotron h1 img{
    display: flex;
}
.jumbotron .row{
    display: inline!important;
}
.jumbotron .row span{
  font-family: 'Kaushan Script', cursive;
    font-weight: 700;
    font-size: 48px;
    vertical-align: middle;
    color: #124114;
}
/*ROW*/

.row span{
    font-weight: 400;
}

.row .column-1{
    display: block;
}


/*Navbar*/

nav .header img{
    width: 50px;
    height: 50px;
}
.navbar{
    margin-bottom: 20px;
}
.dropdown-menu{
  background-color: #43A047;
}

.dropdown-menu  > a:hover {
  background-color: #124114;
}
.dropdown-menu  > li:hover {
  background-color: #124114;
}
/*Center*/
.img-fluid img{
    width: 200px;
    height: 200px;
}
.carousel{
  position: relative;
  width: 97.5%;
  margin-left: 1rem;
}
/*FOOTER*/
.footer-basic {
      color: #444;
  }
  
  .footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  .footer-basic li {
    padding: 0 10px;
  }
  
  .footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer-basic ul a:hover {
    opacity: 1;
  }
  
  .footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
  }
  
  .footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #444;
      margin: 0 8px;
      color: inherit;
      opacity: 0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity: 0.9;
  }
  
  .footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #444;
    margin-bottom: 0;
  }
  .list-inline{
    font-family: 'Poppins', sans-serif;
  }


  /*Center*/
#announcement {
  height: 220px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: whitesmoke;
    border-radius: 5px; 
}
#announcement-post {
  background: url(../assets/pin.png) no-repeat left;
    padding-left: 25px;
    padding-right: 5px;
    margin-left: 18px;
    transition-property: background;
      transition-duration: 0.75s;
}
#announcement > ul > li {
    margin-bottom: 5px;
}
.about a{
  padding-left: 15px;
  padding-top: 20px;
  font-family: 'Poppins', sans-serif;
}
.about p{
  padding-left: 15px;
  padding-top: 10px;
  margin-bottom: 0.8rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.list-group-item {
  border: none;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}
.list-group-item a{
  text-decoration: none;
}

.section-title {
  font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    font-weight: 700;
    color: #444;
  padding: 1rem;
  margin-bottom: 0;
  margin-top: 0;
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

.title h3{
  font-family: 'Kaushan Script', cursive;
    font-weight: 600;
    font-size: 40px;
    color: #444;
}
.navbar-toggler {
  font-size: 2rem;
}

/*Thumbnail*/
.row .thumb a>:hover{
  background-color: #43A047;
}
.companylogo{
  width: 150px;
  height: 150px;
}
.aboutus .row p{
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}
.aboutus .row h3,h5{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

/*notification*/
.notifications {
  width: 300px;
  height: 0px;
  opacity: 0;
  position: absolute;
  right: 62px;
  border-radius: 5px 0px 5px 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 99999;
}

.notifications h2 {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #999
}

.notifications h2 span {
  color: #f00
}

.notifications-item {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 6px 9px;
  margin-bottom: 0px;
  cursor: pointer
}

.notifications-item:hover {
  background-color: #eee
}
.notifications-item .text h4 {
  color: #777;
  font-size: 16px;
  margin-top: 3px
}

.notifications-item .text p {
  color: #aaa;
  font-size: 12px
}
  /*Media queries*/

@media (max-width: 575.98px) { 
    .jumbotron img{
      width:80px;
      height:80px;
    }
    .jumbotron .row span{
      font-weight: 700;
      font-size: 21px;
      font-family: 'Kaushan Script', cursive;
    }
    #headerlogo{
      margin-left: 140px;
    }
    #headertitle{
      margin-left: 38px;
    }
    #headertitle1{
      margin-left: 92px;
    }
    .carousel{
      width: 100%;
      margin-left: 0rem;
    }
    .navbar-toggler {
      font-size: 1.5rem;
    }
    .ics{
      font-size: 12px;
    }
    .about p{
      padding-left: 15px;
      padding-top: 10px;
      margin-bottom: 0.8rem;
      font-family: 'Poppins', sans-serif;
      font-size: .8rem;
    }
  }